.sticky-sidebar {
  height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 0px
}

.sticky-sidebar::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
}

.sticky-sidebar::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.sticky-sidebar::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
  height: 4px
}
